.react-meal-planner {
  $input-color: #999;
  $label-color: #666666;
  $red: #c81246;
  $white: #ffffff;
  $input-background-color: rgba(132,111,100,0.1);

  label {
    margin-bottom: .25rem;
    color: $label-color;
    font-size: 16px;
  }

  input[type='number'],
  input[type='text'],
  select {
    padding: 18px;
    font-size: 16px;
    border: solid 0px #bbb;
    color: $input-color;
    width: 100%;
    background-color: $input-background-color;
    outline: none;

    &:focus {
      color: $red;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $red;
        opacity: 1; /* Firefox */
      }
    }

    &.error {
      border-color: red;
    }
  }

  select {
    appearance: none;

    &:active {
      &::after {
        transform: none;
      }
    }
  }

  .select-wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 51%;
      right: 25px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-top-color: #666;
      margin-top: 3px;
      pointer-events: none;
    }
  }

  button {
    color: $white;
    background-color: $red;
    border-radius: 7px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    padding: .3em 1em;
    border: 2px solid $red;
    &:focus {
      outline: none;
    }
  }

}
