// html,
// body {
//   height: 100%;
// }

// body {
//   max-height: -webkit-fill-available;
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

#react-eureka {
  $red: #c81246;
  $white: #ffffff;
  $green: #8bbd44;
  height: 100%;

  * {
    box-sizing: border-box;
    font-family: 'Asap',Helvetica,Arial,Lucida,sans-serif;
  }




  .row {
    margin-bottom: 3%;
  }

  .flex.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-notice {
    color: $green;
    font-size: 24px;
    font-weight: 600;
  }

  .spinner-border {
    height: 5rem;
    width: 5rem;
    border-width: .5em;
  }

  .spinner-border.red {
    border-color: $red;
    border-right-color: transparent;
  }
}

.modal-backdrop {
  display: none !important;
}
