@import './colors';

#react-eureka {
  height: 100%;

  * {
    box-sizing: border-box;
    font-family: 'Asap',Helvetica,Arial,Lucida,sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .modal-body {
    color: $taupe;
  }

  .row {
    margin-bottom: 3%;
  }

  .flex.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-notice {
    color: $green;
    font-size: 24px;
    font-weight: 600;
  }

  .spinner-border {
    height: 5rem;
    width: 5rem;
    border-width: .5em;
  }

  .spinner-border.red {
    border-color: $red;
    border-right-color: transparent;
  }

  .modal-backdrop {
    z-index: 1;
    display: none;
    transition: opacity .15s linear;
    opacity: 0;
    background-color: black;

    &.show {
      opacity: .5;
      display: block;
    }
  }
}
