@import '../../../styles/colors';

.react-meal-planner {
  #react-results {
    .row {
      margin-bottom: 0px;

      .h-100 {
        height: calc(100% - 1rem) !important;
      }

      .card-body {
        .card-title,
        .card-text {
          color: $red;
        }
        .card {
          padding: .5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .react-meal-planner {
    #react-results {
      img {
        max-width: 160px;
      }
    }
  }
}
